--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO mydbuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO mydbuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO mydbuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO mydbuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO mydbuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO mydbuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blood_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blood_ (
    id bigint NOT NULL,
    name_ character varying(15) NOT NULL
);


ALTER TABLE public.blood_ OWNER TO postgres;

--
-- Name: blood__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.blood__id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.blood__id_seq OWNER TO postgres;

--
-- Name: blood__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.blood__id_seq OWNED BY public.blood_.id;


--
-- Name: city_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.city_ (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL
);


ALTER TABLE public.city_ OWNER TO postgres;

--
-- Name: city_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.city_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.city_id_seq OWNER TO postgres;

--
-- Name: city_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.city_id_seq OWNED BY public.city_.id;


--
-- Name: department_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_ (
    id bigint NOT NULL,
    firm_id bigint NOT NULL,
    name_ character varying(255)
);


ALTER TABLE public.department_ OWNER TO postgres;

--
-- Name: department__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department__id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department__id_seq OWNER TO postgres;

--
-- Name: department__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department__id_seq OWNED BY public.department_.id;


--
-- Name: district_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.district_ (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL,
    city_id bigint NOT NULL
);


ALTER TABLE public.district_ OWNER TO postgres;

--
-- Name: district_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.district_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.district_id_seq OWNER TO postgres;

--
-- Name: district_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.district_id_seq OWNED BY public.district_.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO mydbuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO mydbuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO mydbuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mydbuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: mydbuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO mydbuser;

--
-- Name: education_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.education_ (
    id bigint NOT NULL,
    name_ character varying(15) NOT NULL
);


ALTER TABLE public.education_ OWNER TO postgres;

--
-- Name: education__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.education__id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.education__id_seq OWNER TO postgres;

--
-- Name: education__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.education__id_seq OWNED BY public.education_.id;


--
-- Name: firm_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.firm_ (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL,
    city_id bigint,
    district_id bigint,
    tax_office_id bigint,
    nace_id bigint,
    create_ timestamp without time zone,
    delete_ timestamp without time zone,
    address_ character varying(255),
    telephone_ character varying(255),
    fax_ character varying(255),
    email_ character varying(255),
    type_firm character varying(255),
    tax_ character varying(255),
    web_ character varying(255),
    sgk_sicil character varying(255),
    payment_ character varying(255),
    ceo_name character varying(255),
    ceo_email character varying(255),
    ceo_cell character varying(255),
    active_ boolean DEFAULT true NOT NULL,
    logo_media character varying(255)
);


ALTER TABLE public.firm_ OWNER TO postgres;

--
-- Name: firm_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.firm_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.firm_id_seq OWNER TO postgres;

--
-- Name: firm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.firm_id_seq OWNED BY public.firm_.id;


--
-- Name: language_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.language_ (
    id bigint NOT NULL,
    name_ character varying(255),
    short_ character varying(255)
);


ALTER TABLE public.language_ OWNER TO postgres;

--
-- Name: language__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.language__id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.language__id_seq OWNER TO postgres;

--
-- Name: language__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.language__id_seq OWNED BY public.language_.id;


--
-- Name: media_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media_ (
    id bigint NOT NULL,
    create_ timestamp without time zone,
    media_type_id bigint,
    path_id bigint,
    name_ character varying(255),
    delete_ timestamp without time zone,
    active_ boolean DEFAULT true NOT NULL
);


ALTER TABLE public.media_ OWNER TO postgres;

--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_id_seq OWNER TO postgres;

--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media_.id;


--
-- Name: media_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media_type (
    id bigint NOT NULL,
    name_ character varying(255)
);


ALTER TABLE public.media_type OWNER TO postgres;

--
-- Name: media_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.media_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_type_id_seq OWNER TO postgres;

--
-- Name: media_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.media_type_id_seq OWNED BY public.media_type.id;


--
-- Name: nace_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nace_ (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL,
    code_ character varying(15) NOT NULL,
    description_ character varying(511) NOT NULL
);


ALTER TABLE public.nace_ OWNER TO postgres;

--
-- Name: nace_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.nace_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nace_id_seq OWNER TO postgres;

--
-- Name: nace_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.nace_id_seq OWNED BY public.nace_.id;


--
-- Name: path_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.path_ (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL
);


ALTER TABLE public.path_ OWNER TO postgres;

--
-- Name: path_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.path_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.path_id_seq OWNER TO postgres;

--
-- Name: path_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.path_id_seq OWNED BY public.path_.id;


--
-- Name: personnel_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personnel_ (
    id bigint NOT NULL,
    name_ character varying(255),
    surname_ character varying(255),
    tckno_ character varying(11),
    address_ character varying(255),
    cell_ character varying(15),
    birthday_ timestamp without time zone,
    driving_license character varying(15),
    status_ character varying(255),
    education_id bigint,
    department_id bigint,
    children_ integer DEFAULT 0,
    email_ character varying(255),
    blood_id bigint,
    military_ boolean DEFAULT true NOT NULL,
    gender_ boolean DEFAULT true NOT NULL,
    marital_ boolean DEFAULT false NOT NULL,
    related_personnel_id bigint,
    firm_id bigint,
    commencement_ timestamp without time zone,
    termination_ timestamp without time zone,
    delete_ timestamp without time zone,
    picture_ character varying(255)
);


ALTER TABLE public.personnel_ OWNER TO postgres;

--
-- Name: personnel__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personnel__id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personnel__id_seq OWNER TO postgres;

--
-- Name: personnel__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personnel__id_seq OWNED BY public.personnel_.id;


--
-- Name: tax_office; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tax_office (
    id bigint NOT NULL,
    name_ character varying(255) NOT NULL,
    city_id bigint NOT NULL,
    district_id bigint NOT NULL
);


ALTER TABLE public.tax_office OWNER TO postgres;

--
-- Name: tax_office_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tax_office_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tax_office_id_seq OWNER TO postgres;

--
-- Name: tax_office_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tax_office_id_seq OWNED BY public.tax_office.id;


--
-- Name: user_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ (
    id bigint NOT NULL,
    user_group_id bigint NOT NULL,
    language_id bigint,
    name_ character varying(255),
    tckno_ character varying(11),
    certificate_number character varying(255),
    title_ character varying(255),
    email_ character varying(255),
    password_ character varying(128),
    active_ boolean DEFAULT true NOT NULL,
    picture character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    is_superuser boolean,
    is_staff boolean,
    last_login timestamp with time zone,
    date_joined timestamp with time zone,
    auth_user_id integer,
    logo_media bigint
);


ALTER TABLE public.user_ OWNER TO postgres;

--
-- Name: user__id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user__id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user__id_seq OWNER TO postgres;

--
-- Name: user__id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user__id_seq OWNED BY public.user_.id;


--
-- Name: user_firm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_firm (
    user_id bigint NOT NULL,
    firm_id bigint NOT NULL,
    create_ timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_firm OWNER TO postgres;

--
-- Name: user_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_group (
    id bigint NOT NULL,
    name_ character varying(255),
    description_ character varying(511)
);


ALTER TABLE public.user_group OWNER TO postgres;

--
-- Name: user_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_group_id_seq OWNER TO postgres;

--
-- Name: user_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_group_id_seq OWNED BY public.user_group.id;


--
-- Name: blood_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blood_ ALTER COLUMN id SET DEFAULT nextval('public.blood__id_seq'::regclass);


--
-- Name: city_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.city_ ALTER COLUMN id SET DEFAULT nextval('public.city_id_seq'::regclass);


--
-- Name: department_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_ ALTER COLUMN id SET DEFAULT nextval('public.department__id_seq'::regclass);


--
-- Name: district_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district_ ALTER COLUMN id SET DEFAULT nextval('public.district_id_seq'::regclass);


--
-- Name: education_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education_ ALTER COLUMN id SET DEFAULT nextval('public.education__id_seq'::regclass);


--
-- Name: firm_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_ ALTER COLUMN id SET DEFAULT nextval('public.firm_id_seq'::regclass);


--
-- Name: language_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.language_ ALTER COLUMN id SET DEFAULT nextval('public.language__id_seq'::regclass);


--
-- Name: media_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_ ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: media_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_type ALTER COLUMN id SET DEFAULT nextval('public.media_type_id_seq'::regclass);


--
-- Name: nace_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nace_ ALTER COLUMN id SET DEFAULT nextval('public.nace_id_seq'::regclass);


--
-- Name: path_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.path_ ALTER COLUMN id SET DEFAULT nextval('public.path_id_seq'::regclass);


--
-- Name: personnel_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_ ALTER COLUMN id SET DEFAULT nextval('public.personnel__id_seq'::regclass);


--
-- Name: tax_office id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_office ALTER COLUMN id SET DEFAULT nextval('public.tax_office_id_seq'::regclass);


--
-- Name: user_ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ ALTER COLUMN id SET DEFAULT nextval('public.user__id_seq'::regclass);


--
-- Name: user_group id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_group ALTER COLUMN id SET DEFAULT nextval('public.user_group_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: mydbuser
--

COPY public.auth_group (id, name) FROM stdin;
1	Firma Y├╢netici
2	Firma Personeli Y├╢netici
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: mydbuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
1	1	65
2	1	33
3	1	34
4	1	35
5	1	36
6	1	66
7	1	67
8	1	68
9	2	128
10	2	125
11	2	126
12	2	127
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: mydbuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: mydbuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
9	pbkdf2_sha256$1000000$BZQkncOfqiqRpaV3fjEe8q$DhnJr4Nk9y333wdyaunNfN1b7/jgyd7084Snc2QqHrQ=	2025-08-10 10:16:15.49279+03	t	a				t	t	2025-08-09 10:23:23+03
10	pbkdf2_sha256$1000000$25SeOtNRNdjXGGjZRsT7Dl$WMFuaRgxsub5DkFThXk/3pjXCFovJP7rWjVBQUqGOTY=	\N	t	ekonaz	Ali	Bozdemir	bilgi@ekonaz.com.tr	t	t	2025-08-09 19:25:05+03
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: mydbuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
5	9	1
6	9	2
7	10	1
8	10	2
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: mydbuser
--



--
-- Data for Name: blood_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.blood_ (id, name_) FROM stdin;
1	0 Rh (-)
2	0 Rh (+)
3	A Rh (-)
4	A Rh (+)
5	B Rh (-)
6	B Rh (+)
7	AB Rh (-)
8	AB Rh (+)
\.


--
-- Data for Name: city_; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: department_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_ (id, firm_id, name_) FROM stdin;
1	3	Maliye
2	4	─░nsan Kaynaklar─▒
3	4	ARGE Merkezi
\.


--
-- Data for Name: district_; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: mydbuser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
19	2025-08-09 19:17:57.609271+03	1	ekonaz	3		4	9
20	2025-08-09 19:25:48.428536+03	10	ekonaz	2	[{"changed": {"fields": ["First name", "Last name", "Staff status", "Superuser status", "Groups", "User permissions"]}}]	4	9
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: mydbuser
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: mydbuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: mydbuser
--



--
-- Data for Name: education_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.education_ (id, name_) FROM stdin;
1	Genel
2	Okuryazar
3	─░lkokul
4	Ortaokul
5	Lise
6	├ûnlisans
7	Lisans
8	Y├╝kseklisans
9	Doktora
\.


--
-- Data for Name: firm_; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: language_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.language_ (id, name_, short_) FROM stdin;
1	T├╝rk├ºe	tr
2	─░ngilizce	en
\.


--
-- Data for Name: media_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.media_ (id, create_, media_type_id, path_id, name_, delete_, active_) FROM stdin;
\.


--
-- Data for Name: media_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.media_type (id, name_) FROM stdin;
\.


--
-- Data for Name: nace_; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: path_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.path_ (id, name_) FROM stdin;
\.


--
-- Data for Name: personnel_; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tax_office; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ (id, user_group_id, language_id, name_, tckno_, certificate_number, title_, email_, password_, active_, picture, first_name, last_name, is_superuser, is_staff, last_login, date_joined, auth_user_id, logo_media) FROM stdin;
9	1	\N	a	8744561248	\N	\N	\N	\N	t	picture_user/Screenshot_2025-08-09_103333.png	Ahmet	Cemal	\N	f	\N	\N	9	\N
10	1	1	ekonaz	62089291120	\N	CEO	\N	\N	t	picture_user/ekonaz.png	Ali	Bozdemir	f	t	\N	\N	10	\N
\.


--
-- Data for Name: user_firm; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_firm (user_id, firm_id, create_) FROM stdin;
\.


--
-- Data for Name: user_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_group (id, name_, description_) FROM stdin;
1	Y├╢netici	Sistemin tam yetkili y├╢neticisi
2	Operat├╢r	S─▒n─▒rl─▒ yetkilere sahip standart kullan─▒c─▒
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 2, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 12, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 128, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 8, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 10, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 384, true);


--
-- Name: blood__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.blood__id_seq', 8, true);


--
-- Name: city_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.city_id_seq', 1, false);


--
-- Name: department__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department__id_seq', 3, true);


--
-- Name: district_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.district_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 20, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 32, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mydbuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 87, true);


--
-- Name: education__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.education__id_seq', 9, true);


--
-- Name: firm_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.firm_id_seq', 5, true);


--
-- Name: language__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.language__id_seq', 1, false);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.media_id_seq', 1, false);


--
-- Name: media_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.media_type_id_seq', 1, false);


--
-- Name: nace_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nace_id_seq', 1, false);


--
-- Name: path_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.path_id_seq', 1, false);


--
-- Name: personnel__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personnel__id_seq', 5, true);


--
-- Name: tax_office_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tax_office_id_seq', 1, false);


--
-- Name: user__id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user__id_seq', 10, true);


--
-- Name: user_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_group_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: blood_ blood__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blood_
    ADD CONSTRAINT blood__pkey PRIMARY KEY (id);


--
-- Name: city_ city_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.city_
    ADD CONSTRAINT city_pkey PRIMARY KEY (id);


--
-- Name: department_ department__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_
    ADD CONSTRAINT department__pkey PRIMARY KEY (id);


--
-- Name: district_ district_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district_
    ADD CONSTRAINT district_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: education_ education__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education_
    ADD CONSTRAINT education__pkey PRIMARY KEY (id);


--
-- Name: firm_ firm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_
    ADD CONSTRAINT firm_pkey PRIMARY KEY (id);


--
-- Name: language_ language__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.language_
    ADD CONSTRAINT language__pkey PRIMARY KEY (id);


--
-- Name: media_ media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: media_type media_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_type
    ADD CONSTRAINT media_type_pkey PRIMARY KEY (id);


--
-- Name: nace_ nace_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nace_
    ADD CONSTRAINT nace_pkey PRIMARY KEY (id);


--
-- Name: path_ path_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.path_
    ADD CONSTRAINT path_pkey PRIMARY KEY (id);


--
-- Name: personnel_ personnel__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT personnel__pkey PRIMARY KEY (id);


--
-- Name: tax_office tax_office_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_office
    ADD CONSTRAINT tax_office_pkey PRIMARY KEY (id);


--
-- Name: user_ user__name__unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__name__unique UNIQUE (name_);


--
-- Name: user_ user__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__pkey PRIMARY KEY (id);


--
-- Name: user_ user_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user_email_unique UNIQUE (email_);


--
-- Name: user_firm user_firm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_firm
    ADD CONSTRAINT user_firm_pkey PRIMARY KEY (user_id, firm_id);


--
-- Name: user_group user_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_group
    ADD CONSTRAINT user_group_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: mydbuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_ auth_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT auth_user_id_fk FOREIGN KEY (auth_user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: department_ department__firm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_
    ADD CONSTRAINT department__firm_id_fkey FOREIGN KEY (firm_id) REFERENCES public.firm_(id);


--
-- Name: district_ district_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.district_
    ADD CONSTRAINT district_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.city_(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mydbuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: firm_ firm_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_
    ADD CONSTRAINT firm_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.city_(id);


--
-- Name: firm_ firm_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_
    ADD CONSTRAINT firm_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.district_(id);


--
-- Name: firm_ firm_nace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_
    ADD CONSTRAINT firm_nace_id_fkey FOREIGN KEY (nace_id) REFERENCES public.nace_(id);


--
-- Name: firm_ firm_tax_office_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firm_
    ADD CONSTRAINT firm_tax_office_id_fkey FOREIGN KEY (tax_office_id) REFERENCES public.tax_office(id);


--
-- Name: media_ media_media_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_
    ADD CONSTRAINT media_media_type_id_fkey FOREIGN KEY (media_type_id) REFERENCES public.media_type(id);


--
-- Name: media_ media_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_
    ADD CONSTRAINT media_path_id_fkey FOREIGN KEY (path_id) REFERENCES public.path_(id);


--
-- Name: personnel_ personnel__blood_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT personnel__blood_id_fkey FOREIGN KEY (blood_id) REFERENCES public.blood_(id) NOT VALID;


--
-- Name: personnel_ personnel__department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT personnel__department_id_fkey FOREIGN KEY (department_id) REFERENCES public.department_(id) NOT VALID;


--
-- Name: personnel_ personnel__education_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT personnel__education_id_fkey FOREIGN KEY (education_id) REFERENCES public.education_(id) NOT VALID;


--
-- Name: personnel_ personnel__firm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT personnel__firm_id_fkey FOREIGN KEY (firm_id) REFERENCES public.firm_(id) NOT VALID;


--
-- Name: personnel_ related_personnel_personnel__id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personnel_
    ADD CONSTRAINT related_personnel_personnel__id_fkey FOREIGN KEY (related_personnel_id) REFERENCES public.personnel_(id) NOT VALID;


--
-- Name: tax_office tax_office_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_office
    ADD CONSTRAINT tax_office_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.city_(id);


--
-- Name: tax_office tax_office_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tax_office
    ADD CONSTRAINT tax_office_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.district_(id);


--
-- Name: user_ user__language_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__language_id_fkey FOREIGN KEY (language_id) REFERENCES public.language_(id);


--
-- Name: user_ user__logo_media_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__logo_media_fkey FOREIGN KEY (logo_media) REFERENCES public.media_(id) NOT VALID;


--
-- Name: user_ user__user_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__user_group_id_fkey FOREIGN KEY (user_group_id) REFERENCES public.user_group(id);


--
-- Name: user_firm user_firm_firm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_firm
    ADD CONSTRAINT user_firm_firm_id_fkey FOREIGN KEY (firm_id) REFERENCES public.firm_(id) ON DELETE CASCADE;


--
-- Name: user_firm user_firm_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_firm
    ADD CONSTRAINT user_firm_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO mydbuser;


--
-- Name: TABLE blood_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.blood_ TO mydbuser;


--
-- Name: SEQUENCE blood__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.blood__id_seq TO mydbuser;


--
-- Name: TABLE city_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.city_ TO mydbuser;


--
-- Name: SEQUENCE city_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.city_id_seq TO mydbuser;


--
-- Name: TABLE department_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.department_ TO mydbuser;


--
-- Name: SEQUENCE department__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.department__id_seq TO mydbuser;


--
-- Name: TABLE district_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.district_ TO mydbuser;


--
-- Name: SEQUENCE district_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.district_id_seq TO mydbuser;


--
-- Name: TABLE education_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.education_ TO mydbuser;


--
-- Name: SEQUENCE education__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.education__id_seq TO mydbuser;


--
-- Name: TABLE firm_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.firm_ TO mydbuser;


--
-- Name: SEQUENCE firm_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.firm_id_seq TO mydbuser;


--
-- Name: TABLE language_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.language_ TO mydbuser;


--
-- Name: SEQUENCE language__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.language__id_seq TO mydbuser;


--
-- Name: TABLE media_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.media_ TO mydbuser;


--
-- Name: SEQUENCE media_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.media_id_seq TO mydbuser;


--
-- Name: TABLE media_type; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.media_type TO mydbuser;


--
-- Name: SEQUENCE media_type_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.media_type_id_seq TO mydbuser;


--
-- Name: TABLE nace_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.nace_ TO mydbuser;


--
-- Name: SEQUENCE nace_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.nace_id_seq TO mydbuser;


--
-- Name: TABLE path_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.path_ TO mydbuser;


--
-- Name: SEQUENCE path_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.path_id_seq TO mydbuser;


--
-- Name: TABLE personnel_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.personnel_ TO mydbuser;


--
-- Name: SEQUENCE personnel__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.personnel__id_seq TO mydbuser;


--
-- Name: TABLE tax_office; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.tax_office TO mydbuser;


--
-- Name: SEQUENCE tax_office_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.tax_office_id_seq TO mydbuser;


--
-- Name: TABLE user_; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.user_ TO mydbuser;


--
-- Name: SEQUENCE user__id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.user__id_seq TO mydbuser;


--
-- Name: TABLE user_firm; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.user_firm TO mydbuser;


--
-- Name: TABLE user_group; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.user_group TO mydbuser;


--
-- Name: SEQUENCE user_group_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.user_group_id_seq TO mydbuser;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO mydbuser;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO mydbuser;


--
-- PostgreSQL database dump complete
--

